.exampleone {
  background-color: #16817a;
    color: black;
}
body
{
  background-color:   #dae1e7;
}
h1 {
  color: f3e1e1;
  margin-left: 20px;
}
h3 {
  color: f3e1e1;
  margin-left: 15px;
}
